<h2>Homepage</h2>
<h3> Where your top 5 favorite movies will be stored at, so your friends can shamelessly judge you!</h3>
<a href="/movies/search">search page</a>
<a href="/movies/new">add a favorite</a>
