
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
    <h2> Where your top 5 favorite movies will be stored at, so your friends can shamelessly judge you!</h2>
<button type="button" class="btn btn-outline-primary">
<a href="/movies/search">FIND YOUR TOP 5</a></button>
<button type="button" class="btn btn-outline-primary">
 <a href="/movies/new">ADD A FAVORITE</a></button>
 </div>
</body>
</html>


