
<h2> Where your top 5 favorite movies will be stored at, so your friends can shamelessly judge you!</h2>
<button type="button" class="btn btn-outline-primary">
<a href="/movies/search">FIND YOUR TOP 5</a></button>
<button type="button" class="btn btn-outline-primary">
 <a href="/movies/new">ADD A FAVORITE</a></button>

