<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>POWER-LIST</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">

</head>

<body>
  <%- include('partials/alerts') %> 
    <header>
      <nav>
        <div class="topBarButtons">
          <% if (!currentUser) { %>
            <button type="button" class="btn btn-outline-primary">
              <a href="/auth/signup">SIGN UP</a></button>
            <button type="button" class="btn btn-outline-primary">
              <a href="/auth/login">LOGIN</a></button>
            <% } else { %>
            
               <button type="button" class="btn btn-outline-primary">
                <a href="/">HOME</a></button>

                <button type="button" class="btn btn-outline-primary">
                  <a href="profile">PROFILE</a></button>
                  
                  <button type="button" class="btn btn-outline-primary">
                    <a href="/movies">MY MOVIES</a></button>

                    <button type="button" class="btn btn-outline-primary">
                      <a href="/auth/logout">LOGOUT</a></button>

              <% } %>
                    </div>
      </nav>
    </header>
    <h1 class="text-uppercase">Power List</h1>
    <%- body %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>

</html>