nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
  text-align: center;
}

h1 {
  color: red;
  text-align:center;
  font-family: 'Montserrat Subrayada', sans-serif;
  
}
