<h1> Render ALL TOP 5 MOVIES HERE </h1>

<form method="POST" action="/movies/new">
    <input type="text" name="title"/>
    <input type="number" name="review" />
    <input type="text" name="description" />
    <button class="btn btn-primary" type="submit">Add To Power-List</button>
</form>






