<div class="container">
    <div class="row justify-content-evenly">
      <div class="col-8">
<h1> Choose a movie: </h1>
<h2> This is where you come to choose your favorite movies! </h2>

<form action="/movies/results" method="GET">
    <label class= "search" for="search">Search</label>
    <input id="search" type="text" name="search">
    <input type="submit" value="search">

</form>
</div>
