<h1> TOP 5 </h1>

<form action="/movies/results" method="GET">
    <label for="search">Search</label>
    <input id="search" type="text" name="search">
    <input type="submit" value="search">

</form>