<h1> Choose a movie: </h1>
<h2> this is where you come to choose your favorite movies!</h2>
<form action="/movies/results" method="GET">
    <label for="search">Search</label>
    <input id="search" type="text" name="search">
    <input type="submit" value="search">

</form>